.item-details {
  text-align: center;
  margin: 20px;
}

.item-details img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.item-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.item-details p {
  font-size: 18px;
  margin: 5px 0;
}

.item-details strong {
  font-weight: bold;
}
